.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 400px;
    height: 200px;
    margin: 150px auto;
  }
  
  .title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 50%;
  }